<div data-ng-controller="LoginCtrl">
    <div class="alert alert-danger animated fadeIn" ng-show="loginerror">{{loginerror}}</div>
    <h1>Sign in</h1>
    <form  ng-submit="login()" class="signin form-horizontal">
        <div class="form-group">
            <label for="email" class="col-md-4 control-label">Email</label>
            <div class="col-md-8">
                <input required id="email" data-auto-fill-sync type="email" name="email" placeholder="Email" class="form-control" ng-model="user.email"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-md-4 control-label">Password</label>
            <div class="col-md-8">
                <input required id="password" data-auto-fill-sync type="password" name="password" placeholder="Password" class="form-control" ng-model="user.password"/>
            </div>
        </div>
        <div class="form-group">
            <label for="isAdmin" class="col-md-4 control-label">IsAdmin</label>
            <div class="">
                <input id="isAdmin" type="checkbox" name="isAdmin"class="form-control" ng-model="isAdmin"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary">Sign in</button>&nbsp;
                or&nbsp;<a ui-sref='auth.register' class="show-signup">Sign up</a>
            </div>
        </div>
    </form>
    <div class="form-group" data-ng-init="faceLog()">
        <a href="{{loginUrl['loginUrl']}}">Login por facebook</a>
    </br></br></br>

    </div>
</div>
