<div data-ng-controller="RegisterCtrl">
    <div ng-repeat="error in registerError">
        <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
    </div>
    <div class="alert alert-danger animated fadeIn" ng-show="usernameError">{{usernameError}}</div>

    <h1>Register</h1>
    <form ng-submit="register()" class="signup form-horizontal">
        <div class="form-group">
            <label for="rol" class="col-md-4 control-label">¿Y tu qué eres?</label>
            <div class="col-md-8">
                <select data-ng-model="rol" >
                    <option data-ng-show="false"  value="0" data-ng-selected="true">Escoge qué eres</option>
                    <option value="artist" >Artista</option>
                    <option value="agent">Productor</option>
                    <option value="showSite">Dueño de sitio</option>
                </select>
            </div>
        </div>
        <div class="form-group" data-ng-show="rol != null">
            <label for="name" class="col-md-4 control-label">Name</label>
            <div class="col-md-8">
                <input id="name" type="text" name="name" placeholder="Name" class="form-control" data-ng-model="name"/>
            </div>
        </div>
        <div class="form-group" data-ng-show="rol != null">
            <label for="name" class="col-md-4 control-label">Surname</label>
            <div class="col-md-8">
                <input id="surname" type="text" name="surname" placeholder="Surname" class="form-control" data-ng-model="surname"/>
            </div>
        </div>
        <div class="form-group" data-ng-show="rol != null">
            <label for="email" class="col-md-4 control-label">Email</label>
            <div class="col-md-8">
                <input id="email" type="email" name="email" placeholder="Email" class="form-control" data-ng-model="email"/>
            </div>
        </div>
        <div class="form-group" data-ng-show="rol != null">
            <label for="dni" class="col-md-4 control-label">DNI</label>
            <div class="col-md-8">
                <input id="dni" type="text" name="dni" class="form-control" data-ng-model="dni"/>
            </div>
        </div>
        <div class="form-group" data-ng-show="rol != null">
            <label for="phone" class="col-md-4 control-label">Phone</label>
            <div class="col-md-8">
                <input id="phone" type="text" name="phone" class="form-control" data-ng-model="phone"/>
            </div>
        </div>
        
        <div class="form-group" data-ng-show="rol == 'artist'">
            <label for="artisticname" class="col-md-4 control-label">Artistic Name</label>
            <div class="col-md-8">
                <input id="artisticName" type="text" name="artisticName" class="form-control" data-ng-model="artisticName"/>
            </div>
        </div>
        <div class="form-group" data-ng-show="rol != null">
            <label for="password" class="col-md-4 control-label">Password</label>
            <div class="col-md-8">
                <input id="password" type="password" name="password" placeholder="Password" class="form-control" data-ng-model="password"/>
            </div>
        </div>
        <div class="form-group" data-ng-show="rol != null">
            <label for="confirmPassword" class="col-md-4 control-label">Repeat Password</label>
            <div class="col-md-8">
                <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Password" class="form-control" data-ng-model="confirmPassword"/>
            </div>
        </div>
        <div class="form-group" data-ng-show="rol != null">
            <div class="col-md-offset-4 col-md-8">
                <button type="submit" class="btn btn-primary">Sign up</button>&nbsp;
                or&nbsp;<a ui-sref='auth.login' class="show-login">login</a>
            </div>
        </div>
    </form>
</div>
