<section data-ng-controller="TicketsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Tickets</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="ticket in tickets" data-ng-href="#!/tickets/{{ticket.id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="ticket.price"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="ticket.description"></h4>
        </a>
    </div>
</section>