<section data-ng-controller="TicketsController" data-ng-init="findOne()">
	<div class="page-header">
		<li data-ng="">Id: {{ticket.id}}</li>
		<li data-ng="">Description: {{ticket.description}}</li>
		<li data-ng="">Price: {{ticket.price}}</li>
	</div>
	<div class="pull-right" data-ng-show="authentication.user.id == ticket.user.id">
		<a class="btn btn-primary" href="/#!/tickets/{{ticket.id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>