<section data-ng-controller="ShowsitesController" data-ng-init="getShowSiteByUser()">
    <div class="page-header">
        <h1>New Showsite</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-init="loadProvinces()" data-ng-submit="create()" novalidate data-ng-show="showSitebyUser.id == undefined">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="addres">Nombre</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name"required>
                    </div>
                    <label class="control-label" for="addres">Direccion</label>
                    <div class="controls">
                        <input type="text" data-ng-model="addres" id="addres" class="form-control" placeholder="Addres" required>
                    </div>
                    <label class="control-label" for="capacity">Capacidad</label>
                    <div class="controls">
                        <input type="text" data-ng-model="capacity" id="capacity" class="form-control" placeholder="Capacity" required>
                    </div>
                </div>

                <label class="control-label" for="province">Provincia</label>
                <div class="controls">
                    <select data-ng-model="province" id="province" class="form-control" data-ng-options="province.name for province in provinces" data-ng-init="province = provinces[0]" ng-change="loadCitiesByProvince(province.id)" required>
                    </select>
                </div>

                <label class="control-label" for="city">Ciudad</label>
                <div class="controls">
                    <select data-ng-model="city" id="city" class="form-control" data-ng-options="city.name for city in cities"  required>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
    <div class="alert alert-warning text-center" data-ng-show="showSitebyUser.id != undefined">
        Usted ya tiene registrado un sitio, no puede añadir uno nuevo. Para editar el existente ingrese <a href="/#!/showSites/{{showSitebyUser.id}}">aqui</a>?
    </div>
</section>