<section data-ng-controller="ShowsitesController" data-ng-init="getShowSiteByUser()">
    <div class="page-header">
        <h1>Edit Showsite</h1>
    </div>
    <div class="col-md-12" >
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="addres">Nombre</label>
                    <div class="controls">
                        <input type="text" data-ng-model="showsite.name" id="name" class="form-control" placeholder="Name"required>
                    </div>
                    <label class="control-label" for="addres">Direccion</label>
                    <div class="controls">
                        <input type="text" data-ng-model="showsite.addres" id="addres" class="form-control" placeholder="Addres" required>
                    </div>
                    <label class="control-label" for="capacity">Capacidad</label>
                    <div class="controls">
                        <input type="text" data-ng-model="showsite.capacity" id="capacity" class="form-control" placeholder="Capacity" required>
                    </div>
                    <label class="control-label" for="state">Provincia</label>
                    <div class="controls">
                        <select data-ng-model="showsite.province" id="province" class="form-control" data-ng-options="province.name for province in provinces" data-ng-init="showsite.province" ng-change="loadCitiesByProvince(showsite.province.id)" required>
                        </select>
                    </div>


                    <label class="control-label" for="state">Ciudad</label>
                    <div class="controls">
                        <select data-ng-model="showsite.city" id="city" class="form-control" data-ng-options="city as city.name for city in cities"  required>
                        </select>
                    </div>
                    
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
    <div class="alert alert-warning text-center" data-ng-show="showsite.id == undefined">
        Usted no posee sitio registrado. Para hacerlo ingrese <a href="/#!/showSites/create">aqui</a>?
    </div>
</section>