<section data-ng-controller="ShowsitesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Showsites</h1>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Dueño</th>
                <th>Provincia</th>
                <th>Ciudad</th>
                <th>Direccion</th>
                <th>Capacidad</th>
                <th>Nombre</td>
                <th></th>
            </tr>
        </thead>

        <tbody>
            
            <tr data-ng-repeat="showSite in showsites">
                <td>{{showSite.id}}</td>
                <td data-ng-init="findUser(showSite.user.id)">{{foundUser.name}} {{foundUser.surname}}</td>
                <td data-ng-init="findProvince(foundUser.province.id)">{{foundProvince.name}}</td>
                <td data-ng-init="findCity(foundUser.city.id)">{{foundCity.name}}</td>
                <td>{{showSite.addres}}</td>
                <td>{{showSite.capacity}}</td>
                <td>{{showSite.name}}</td>
                <!--  ACCIONES EN BOTONES :) --> 
                <td>
                    <button type="button" class="btn btn-default"><a data-ng-href="#!/showSites/{{showSite.id}}">Ver show site</a></button>
                    <button type="button" data-ng-click="sendMessage(foundUser.id);" class="btn btn-default"><i class="glyphicon glyphicon-send"></i></button>
                </td>
            </tr>
            
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-hide="!proposals.$resolved || proposals.length">
        No Proposals yet, why don't you <a href="/#!/proposals/create">create one</a>?
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="!showsites.$resolved || showsites.length">
        No Showsites yet, why don't you <a href="/#!/showSites/create">create one</a>?
    </div>
</section>
