<section data-ng-controller="ShowsitesController" data-ng-init="findPublic()">
    <div class="page-header">
        <h1>Showsites</h1>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Dueño</th>
                <th>Provincia</th>
                <th>Ciudad</th>
                <th>Direccion</th>
                <th>Capacidad</th>
                <th>Nombre</td>
                <th></th>
            </tr>
        </thead>

        <tbody>
            
            <tr data-ng-repeat="showSite in showsites">
                <td>{{showSite.showSiteId}}</td>
                <td>{{showSite.userName}} {{showSite.userSurname}}</td>
                <td>{{showSite.provinceName}}</td>
                <td>{{showSite.cityName}}</td>
                <td>{{showSite.showSiteAddres}}</td>
                <td>{{showSite.showSiteCapacity}}</td>
                <td>{{showSite.showSiteName}}</td>
                <!--  ACCIONES EN BOTONES :) --> 
                <td>
                    <button type="button" class="btn btn-default"><a data-ng-href="#!/showSites/{{showSite.showSiteId}}">Ver show site</a></button>
                    <button type="button" data-ng-click="sendMessage(showSite.userId);" class="btn btn-default"><i class="glyphicon glyphicon-send"></i></button>
                </td>
            </tr>
            
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-hide="!proposals.$resolved || proposals.length">
        No Proposals yet, why don't you <a href="/#!/proposals/create">create one</a>?
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="!showsites.$resolved || showsites.length">
        No Showsites yet, why don't you <a href="/#!/showSites/create">create one</a>?
    </div>
</section>