<section data-ng-controller="ShowsitesController" data-ng-init="getShowSiteByUser()">
	<div class="page-header">
		<li data-ng>Id: {{showsite.id}}</li>
		<li data-ng>Direccion: {{showsite.addres}}</li>
		<li data-ng>Capacidad: {{showsite.capacity}}</li>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == showsite.user._id">
		<a class="btn btn-primary" href="/#!/showSites/{{showsite.id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="showsite.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="showsite.user.displayName"></span>
		</em>
	</small>
</section>