<section data-ng-controller="ProposalsController">
    <div class="page-header">
        <h1>New Proposal</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-init="preCreate()" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    
                    <label class="control-label" for="dateInit">Fecha de inicio</label>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="input-group">
                                  <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" data-ng-model="dateInit" is-open="opened" min-date="minDate" max-date="'2015-06-22'"  date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" data-ng-click="open($event,'opened')"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <label class="control-label" for="deadLine">Fecha de finalización</label>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="input-group">
                                  <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" data-ng-model="deadLine" is-open="opened2" min-date="minDate" max-date="'2015-06-22'"  date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event,'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <label class="control-label" for="artist" data-ng-show="global.user.rol != 'artist'">Artista</label>
                    <div class="controls" data-ng-show="global.user.rol != 'artist'">
                        <select data-ng-model="artist" id="artist" class="form-control" data-ng-options="artist.artisticName for artist in artists">
                        </select>
                    </div>
                    
                    <label class="control-label" for="colaborationsQuantity">Cantidad de colaboraciones</label>
                    <div class="controls">
                        <input type="text" data-ng-model="colaborationsQuantity" id="colaborationsQuantity" class="form-control" placeholder="25" >
                    </div>

                    <label class="control-label" for="picture">Imágen</label>
                    <div class="controls">
                        <input type="file" data-ng-model="picture" id="picture" class="form-control" placeholder="png, jpg, jpeg">
                    </div>

                    <label class="control-label" for="SS">Sitio para el evento</label>
                    <div class="controls">
                        <input type="radio" ng-model="typeSS" value="list"></input> Elegir sitio de la lista </br>
                        <input type="radio" ng-model="typeSS" value="new"  ></input> Nuevo Sitio </br>
                    </div>

                    <label class="control-label" for="showSite" data-ng-show="typeSS == 'list'">Sitios para evento registrados</label>
                    <div class="controls" data-ng-show="typeSS == 'list'">
                        <select data-ng-model="showSite" id="showSite" class="form-control" >
                            <option data-ng-repeat="showSite in showSites" value="{{showSite.id}}">{{showSite.name}}</option>
                        </select>
                    </div>

                    <label class="control-label" for="showSiteName" data-ng-show="typeSS == 'new'">Nombre del sitio para evento</label>
                    <div class="controls" data-ng-show="typeSS == 'new'">
                        <input type="text" data-ng-model="showSiteName" id="showSiteName" class="form-control" placeholder="Nombre del sitio" required>
                    </div>

                    <label class="control-label" for="showSiteAddres" data-ng-show="typeSS == 'new'">Dirección del sitio para evento</label>
                    <div class="controls" data-ng-show="typeSS == 'new'">
                        <input type="text" data-ng-model="showSiteAddres" id="showSiteAddres" class="form-control" placeholder="Dirección del sitio" required>
                    </div>

                    
                    <label class="control-label" for="province">Provincia</label>
                    <div class="controls">
                        <select data-ng-model="province" id="province" class="form-control" data-ng-options="province.name for province in provinces" data-ng-init="province = provinces[0]" ng-change="loadCitiesByProvince(province.id)" required>
                        </select>
                    </div>


                    <label class="control-label" for="city">Ciudad</label>
                    <div class="controls">
                        <select data-ng-model="city" id="city" class="form-control" data-ng-options="city.name for city in cities"  required>
                        </select>
                    </div>


                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>