<section data-ng-controller="ProposalsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Proposal</h1>
    </div> 
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    
                    <label class="control-label" for="dateInit">Fecha de inicio</label>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="input-group">
                                  <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" data-ng-model="proposal.dateInit" is-open="opened" min-date="minDate" max-date="'2015-06-22'"  date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" data-ng-click="open($event,'opened')"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </div>
                        </div>
                    </div>

                    <label class="control-label" for="deadLine">Fecha de finalización</label>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-4">
                                <p class="input-group">
                                  <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" data-ng-model="proposal.deadLine" is-open="opened2" min-date="minDate" max-date="'2015-06-22'"  date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event,'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </div>
                        </div>
                    </div>


                    <label class="control-label" for="colaborationsQuantity">Cantidad de colaboraciones</label>
                    <div class="controls">
                        <input type="text" data-ng-model="proposal.colaborationsQuantity"  id="colaborationsQuantity" class="form-control"  >
                    </div>

                    <label class="control-label" for="picture">Imágen</label>
                    <div class="controls">
                        <input type="file" data-ng-model="proposal.picture" id="picture" class="form-control" placeholder="png, jpg, jpeg">
                    </div>

                    <label class="control-label" for="showSiteName">Nombre del sitio para evento</label>
                    <div class="controls">
                        <input type="text" data-ng-model="proposal.showSiteName" id="showSiteName" class="form-control" placeholder="Nombre del sitio" required>
                    </div>

                    <label class="control-label" for="showSiteAddres">Dirección del sitio para evento</label>
                    <div class="controls">
                        <input type="text" data-ng-model="proposal.showSiteAddres" id="showSiteAddres" class="form-control" placeholder="Dirección del sitio" required>
                    </div-->

                    <label class="control-label" for="state">Estado</label>
                    <div class="controls">
                        <input type="text" data-ng-model="proposal.state" id="state" class="form-control" placeholder="Estado" required>
                    </div>

                    <label class="control-label" for="state">Provincia</label>
                    <div class="controls">
                        <select data-ng-model="proposal.province" id="province" class="form-control" data-ng-options="province.name for province in provinces" data-ng-init="proposal.province" ng-change="loadCitiesByProvince(proposal.province.id)" required>
                        </select>
                    </div>


                    <label class="control-label" for="state">Ciudad</label>
                    <div class="controls">
                        <select data-ng-model="proposal.city" id="city" class="form-control" data-ng-options="city as city.name for city in cities"  required>
                        </select>
                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>