<section data-ng-controller="ProposalsController" data-ng-init="byAgent()">
    <div class="page-header">
        <h1>Proposals by Agent</h1>
    </div>
    <br>
    <label><h4>Search Proposal</h4></label>
    <input type="text" data-ng-model="query">
    <br>
    <label><h4>Order By: </h4></label>
        <li><a href="" ng-click="predicate = 'state'; reverse=!reverse">State</a></li>
        <li><a href="" ng-click="predicate = 'dateInit'; reverse=!reverse">Date init</a></li>
        <li><a href="" ng-click="predicate = 'deadLine'; reverse=!reverse">Dead Line</a></li>
    <br>


    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Artista</th>
                <th>Provincia</th>
                <th>Ciudad</th>
                <th>Lugar</th>
                <th>Estado</td>
                <th></th>
            </tr>
        </thead>

        <tbody>
            
            <tr data-ng-repeat="proposal in proposals  | filter:query | orderBy:predicate:reverse">
                <td>{{proposal.id}}</td>
                <td><t data-ng-bind="proposal.dateInit | date:'yyyy-MM-dd'"/></td>
                <td><t data-ng-bind="proposal.deadLine | date:'yyyy-MM-dd'"/></td>
                <td data-ng-init="findUser(proposal.artist.id)">{{foundUser.artisticName}}</td>
                <td data-ng-init="findProvince(proposal.province.id)">{{foundProvince.name}}</td>
                <td data-ng-init="findCity(proposal.city.id)">{{foundCity.name}}</td>
                <td>{{proposal.showSiteName}}</td>
                <td>{{proposal.state}}</td>
                <!--  ACCIONES EN BOTONES :) --> 
                <td>
                    <button type="button" class="btn btn-default"><a data-ng-href="#!/proposals/{{proposal.id}}">Ver propuesta</a></button>
                    <a data-ng-show="proposal.approved" class="btn btn-primary" data-ng-click="CreateEvent(proposal.id);">
                        <i class="glyphicon glyphicon-ok-sign"> Convert Event</i>
                    </a>
                </td>
            </tr>
            
        </tbody>
    </table>