<section data-ng-controller="ProposalsController" data-ng-init="findPublic()">
    <div class="page-header">
        <h1>Proposals</h1>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Artista</th>
                <th>Provincia</th>
                <th>Ciudad</th>
                <th>Lugar</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            
            <tr data-ng-repeat="proposal in proposals">
                <td><t data-ng-bind="proposal.dateInit | date:'yyyy-MM-dd'"/></td>
                <td><t data-ng-bind="proposal.deadLine | date:'yyyy-MM-dd'"/></td>
                <td data-ng-init="findUser(proposal.artist.id)">{{foundUser.artisticName}}</td>
                <td data-ng-init="findProvince(proposal.province.id)">{{foundProvince.name}}</td>
                <td data-ng-init="findCity(proposal.city.id)">{{foundCity.name}}</td>
                <td>{{proposal.showSiteName}}</td>
                <!--  ACCIONES EN BOTONES :) --> 
                <td>
                    <button type="button" class="btn btn-default"><a data-ng-href="#!/proposals/{{proposal.id}}">Ver propuesta</a></button>

                </td>
            </tr>
            
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-hide="!proposals.$resolved || proposals.length">
    	No Proposals yet, why don't you <a href="/#!/proposals/create">create one</a>?
    </div>

</section>