<section data-ng-controller="ProposalsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Proposal</h1>
	</div>
	<div>
        <li>Id: {{proposal.id}}</li>
        <li>Fecha: <t data-ng-bind="proposal.dateInit | date:'yyyy-MM-dd'"/></li>
        <li>Fecha Fin: <t data-ng-bind="proposal.deadLine | date:'yyyy-MM-dd'"/></li>
        
        <li data-ng-show="proposal.picture == null">Imágen No definida</li>
        <li data-ng-show="proposal.picture != null">{{proposal.picture}}</li>
        <li data-ng-show="proposal.colaborationsQuantity != null">Colaboraciones: {{proposal.colaborationsQuantity}}</li>
        <li data-ng-show>Nombre del sitio: {{proposal.showSiteName}}</li>
        <li data-ng-show>Dirección: {{proposal.showSiteAddres}}</li>
        <li data-ng-show="proposal.city.id == null">Ciudad No definida</li>
        <li data-ng-show="proposal.city.id != null">Ciudad: {{proposal.city.id}}</li>
        <li data-ng-show="proposal.province.id == null">Provincia No definida</li>
        <li data-ng-show="proposal.province.id != null">Provincia: {{proposal.province.id}}</li>
        <li> Estado: {{proposal.state}}</li>

    </div>
	<div class="pull-right" data-ng-show="authentication.user.id == proposal.user.id">
		<a class="btn btn-primary" data-ng-click="CreateColaboration();">
            <i class="glyphicon glyphicon-ok-sign"> Create Colaboration</i>
        </a>
		<a class="btn btn-primary" href="/#!/proposals/{{proposal.id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
        <a class="btn btn-primary" data-ng-show="proposal.state == 'Pre-Revision'" data-ng-click="acceptProposal();">
            <i class="glyphicon glyphicon-remove"> Aceptar proposal</i>
        </a>
        <a class="btn btn-primary" data-ng-click="cancelProposal();">
            <i class="glyphicon glyphicon-remove"> Cancel proposal</i>
        </a>
        <a data-ng-show="proposal.state == 'Cancelado'" class="btn btn-primary" data-ng-click="moneyBack()">
            <i class="glyphicon glyphicon-fire"> Retornar dinero</i>
        </a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	
</section>