<section data-ng-controller="PhotosController">
    <div class="page-header">
        <h1>New Photo</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <label class="control-label" for="photo">Imágen</label>
                <div class="controls">
                    <input type="file" file-model="photo" id="photo" class="form-control">
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>

        <form data-ng-submit="view()" ng-upload="complete(content)">
            <input type="file" name="file" id="file"></input>
            <input type="submit" value="Upload" ng-disabled="$isLoading"></input>
        </form>


    </div>
</section>