<section data-ng-controller="PhotosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Photos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="photo in photos" data-ng-href="#!/photos/{{photo.id}}" class="list-group-item">
			<small class="list-group-item-text">
				<img ng-src="{{phone.path}}"> -  {{photo.path}}  

                Posted on
				<span data-ng-bind="photo.created | date:'medium'"></span>
				by
				<span data-ng-bind="photo.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="photo.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!photos.$resolved || photos.length">
    	No Photos yet, why don't you <a href="/#!/photos/create">create one</a>?
    </div>
</section>