<section data-ng-controller="PhotosController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="photo.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == photo.user._id">
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			<img ng-src="{{phone.path}}"> -  {{photo.path}}  
			Posted on
			<span data-ng-bind="photo.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="photo.user.displayName"></span>
		</em>
	</small>
</section>