<section data-ng-controller="UsersController" data-ng-init="getFans()">
    <div class="page-header">
        <h1>Fans</h1>
    </div>
    
    <div class="widget-content nopadding">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Estado</th>
                <th>Acciones</th> <!-- aca van los botones -->
            </tr>
        </thead>

        <tbody>
            
            <tr data-ng-repeat="fan in fans">
                <td>{{fan.name}}</td>
                <td>{{fan.surname}}</td>
                <td>{{fan.state}}</td>
                <!--  ACCIONES EN BOTONES :) --> 
                <td>
                    <button type="button" data-ng-click="sendMessage(fan.id);" class="btn btn-default"><i class="glyphicon glyphicon-send"></i></button>

                </td>
            </tr>
            
        </tbody>
    </table>
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="!users.$resolved || users.length">
    	No Users yet
    </div>
</section>