<section data-ng-controller="UsersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Users</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="user in users" data-ng-href="#!/users/{{user.id}}" class="list-group-item">
			<li>Id: {{user.id}}</li>
            <li>Name: {{user.name}}</li>
                <a class="glyphicon glyphicon-remove btn btn-primary" data-ng-click="remove(user);">
                    Delete     
                </a>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!users.$resolved || users.length">
    	No Users yet, why don't you <a href="/#!/users/create">create one</a>?
    </div>
</section>