<section data-ng-controller="UsersController" data-ng-init="getShowSites()">
    <div class="page-header">
        <h1>Show Site</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="user in users" data-ng-href="#!/users/{{user.id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="user.created | date:'medium'"></span>
				by
				<span data-ng-bind="user.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="user.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!users.$resolved || users.length">
    	No Users yet, why don't you <a href="/#!/users/create">create one</a>?
    </div>
</section>