<section data-ng-controller="UsersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="user.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user.id == user.user.id">
		<a class="btn btn-primary" href="/#!/users/{{user.id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="user.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="user.user.displayName"></span>
		</em>
	</small>
</section>