<section data-ng-controller="ReleasesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Release</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="title">Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="release.title" id="title" class="form-control" placeholder="Title" required>
                    </div>

                    <label class="control-label" for="content">Contenido</label>
                    <div class="controls">
                        <textarea data-ng-model="release.content" id="content" class="form-control" placeholder="Contenido" required/>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>