<section data-ng-controller="ReleasesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Releases</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Titulo</th>
                <th></th>
            </tr>
        </thead>

        <tbody>            
            <tr data-ng-repeat="release in releases">
                <td><t data-ng-bind="release.date | date:'yyyy-MM-dd'"/></td>
                <td><t data-ng-bind="proposal.deadLine | date:'yyyy-MM-dd'"/></td>
                <td >{{release.title}}</td>
                <!--  ACCIONES EN BOTONES :) --> 
                <td>
                    <button type="button" class="btn btn-default"><a data-ng-href="#!/releases/{{release.id}}">Ver release</a></button>
                    <button type="button" class="btn btn-default"><a data-ng-href="/#!/releases/{{release.id}}/edit">Editar</a></button>
                </td>
            </tr>
            
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-hide="!releases.$resolved || releases.length">
    	No Releases yet, why don't you <a href="/#!/releases/create">create one</a>?
    </div>
</section>