<section data-ng-controller="ReleasesController" data-ng-init="findOne()">
	</br>
	<label>Date</label>	<t data-ng-bind="release.date | date:'yyyy-MM-dd'"/></br> 

	<label>Title</label></br>
	{{release.title}}</br>

	<label>Contenido</label></br>
	{{release.content}}</br>
	
	<div class="pull-right" data-ng-show="authentication.user.id == release.user.id">
		<a class="btn btn-primary" href="/#!/releases/{{release.id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>