<div class="" data-ng-controller="HeaderController">
  <div class="logo pull-left">
    <a class="navbar-brand" href="/" mean-token="'site-title'">Home</a>
  </div>

  <div class="left pull-left">
    <ul class="navbar-nav nav">
      <li data-ng-repeat="item in menus.main" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
          <a mean-token="item.link" ui-sref='{{item.link}}'>{{item.title}}</a>
      </li>
    </ul>
  </div>

  <div class="account">
    <div class="text-edit">
      <div class="pull-right" data-ng-show="global.authenticated" mean-token-editable></div>
    </div>
    <ul class="navbar-nav nav" data-ng-hide="global.authenticated">
        <li><a ui-sref='auth.register'>Register</a>
        </li>
        <li class="divider-vertical"></li>
        <li><a ui-sref='auth.login'>Login</a>
        </li>
    </ul>
    <ul class="navbar-nav nav" data-ng-show="global.authenticated">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{global.user.name}} <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li data-ng-controller="LoginCtrl">
                  <a href="#!" data-ng-click="logout()">Signout</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
