<section data-ng-controller="IndexController">
    <h1 mean-token="'home-default'">Menu</h1>
    
    <h3> Usuario </h3>
       
    <h3> Fan </h3>
    <li><a href="/#!/votes/create">artist vote</a></li>
    <li><a href="/#!/proposalsPublics">proposals public -> fans</a></li>
    <li><a href="/#!/eventsPublics"> events public -> fans </a></li>
    <li><a href="/#!/tickets"> tickets -> fans </a></li>
    <li><a href="/#!/releases"> Lista de noticias </a></li>
    <li><a href="/#!/payments/create"> buy credit </a></li>

    <h3> Artist </h3>
    <li><a href="/#!/photos/create">create photo</a></li>
    <li><a href="/#!/proposals/create">create proposal: -agent/artist</a></li>
    <li><a href="/#!/photos">photos</a></li>
    <li><a href="/#!/messages">messages</a></li>
    <li><a href="/#!/events/byartist">my events -> artists</a></li>
    <li><a href="/#!/proposalsByArtist">my proposals -> artists</a></li>
    <li><a href="/#!/showSitesPublics">show sites</a></li>

    <h3> Agent </h3>
    <li><a href="/#!/proposals/create">create proposal: -agent/artist</a></li>
    <li><a href="/#!/proposals/byAgent">proposals: -agent</a></li>
    <li><a href="/#!/messages">messages</a></li>
    <li><a href="/#!/showSitesList">show sites</a></li>
    <li><a href="/#!/artistsPublics">artists</a></li>
    
    <h3> Show Site Owner </h3>
    <li><a href="/#!/showSites">show site</a></li>
    <li><a href="/#!/showSites/create">create show site</a></li>
    <li><a href="/#!/showSites/edit">Edit my show site</a></li>
    <li><a href="/#!/messages">messages</a></li>
    


    <h3> Admin </h3>    
    <li><a href="/#!/provinces/create">create province</a></li>
    <li><a href="/#!/provinces">provinces</a></li>
    <li><a href="/#!/users">users</a></li>
    <li><a href="/#!/proposals">proposals -> admin</a></li>
    <li><a href="/#!/events">events -> admin</a></li>
    <li><a href="/#!/showSites">show sites</a></li>
    <li><a href="/#!/messages">messages</a></li>
    <li><a href="/#!/votes">votes</a></li>
    <li><a href="/#!/fansList">fans -fn: messages</a></li>
    <li><a href="/#!/agentsList">agents</a></li>
    <li><a href="/#!/releases/create"> Crear noticia </a></li>
    <li><a href="/#!/releases"> Lista de noticias </a></li>

    <br>

<a href="https://sandbox.mercadopago.com/mla/checkout/pay?pref_id=162521926-d22c12b7-ef90-466a-8ad9-ffadb43d8f8f" name="MP-Checkout" class="orange-ar-m-sq-arall" onreturn="execute_my_onreturn">Pay</a>
    <script type="text/javascript" src="http://mp-tools.mlstatic.com/buttons/render.js"></script>
    <script type="text/javascript">
        function execute_my_onreturn (json) {
            console.log(json);
          if (json.collection_status=='approved'){
            alert ('Pago acreditado');
          } else if(json.collection_status=='pending'){
            alert ('El usuario no completó el pago');
          } else if(json.collection_status=='in_process'){    
            alert ('El pago está siendo revisado');    
          } else if(json.collection_status=='rejected'){
            alert ('El pago fué rechazado, el usuario puede intentar nuevamente el pago');
          } else if(json.collection_status==null){
            alert ('El usuario no completó el proceso de pago, no se ha generado ningún pago');
          }
        }
    </script>


</section>
