<section data-ng-controller="MessagesController">
    <div class="page-header">
        <h1>New Message</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-init="preCreate()" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="subject">Asunto</label>
                    <div class="controls">
                        <input type="text" data-ng-model="subject" id="subject" class="form-control" placeholder="Asunto" required>
                    </div>

                    <label class="control-label" for="content">Contenido</label>
                    <div class="controls">
                        <textarea data-ng-model="content" id="subject" class="form-control" placeholder="Contenido" required/>
                    </div>
                </div>

                <div class="hidden">
                    
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>