<section data-ng-controller="MessagesController" data-ng-init="preList()">
    <div class="page-header">
        <h1>Messages</h1>
    </div>
    <h3>Recibidos</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Subject</th>
                <th>State</th>
                <th>Remitente</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            
            <tr data-ng-repeat="message in messagesReceived">
                <td><t data-ng-bind="message.date | date:'yyyy-MM-dd'"/></td>
                <td>{{message.subject}}</td>
                <td>{{message.state}}</td>
                <td data-ng-init="findUser(message.userSender.id)">{{foundUser.name}} {{foundUser.surname}}</td>
                <!--  ACCIONES EN BOTONES :) --> 
                <td>
                    <button type="button" class="btn btn-default"><a data-ng-href="#!/messages/{{message.id}}">Ver Mensaje</a></button>
                </td>
            </tr>
            
        </tbody>
    </table>

    <h3>Enviados</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Subject</th>
                <th>State</th>
                <th>Remitente</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            
            <tr data-ng-repeat="message in messagesSent">
                <td><t data-ng-bind="message.date | date:'yyyy-MM-dd'"/></td>
                <td>{{message.subject}}</td>
                <td>{{message.state}}</td>
                <td data-ng-init="findUser(message.userSender.id)">{{foundUser.name}} {{foundUser.surname}}</td>
                <!--  ACCIONES EN BOTONES :) --> 
                <td>
                    <button type="button" class="btn btn-default"><a data-ng-href="#!/messages/{{message.id}}">Ver Mensaje</a></button>
                </td>
            </tr>
            
        </tbody>
    </table>

   
    <div class="alert alert-warning text-center" data-ng-hide="!messagesSent.$resolved || messagesSent.length">
    	No Messages yet, why don't you <a href="/#!/messages/create">create one</a>?
    </div>
</section>