<section data-ng-controller="MessagesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="message.name"></h1>
	</div>
	<div >
		<li>Fecha: <t data-ng-bind="message.date | date:'yyyy-MM-dd'"/></li>
		<li data-ng-show="true">Enviado por: {{message.userSender.id}}</li>
		<li data-ng-show="true">Envido a: {{message.userReceiver.id}}</li>
		<li data-ng-show="true">Estado: {{message.state}}</li>
		<li data-ng-show="true">Asunto: {{message.subject}}</li>
		<li data-ng-show="true">Contenido: {{message.content}}</li>
		<li data-ng-show="message.attachment == null">No hay archivo adjunto</li>
        <li data-ng-show="message.attachment != null">Archivo adjunto: {{message.attachment}}</li>
        <br/>
        <div data-ng-controller="UsersController">
	        <a class="btn btn-primary" data-ng-click="sendMessage(message.userSender.id)" data-ng-show="global.user.id == message.userReceiver.id">
	            <i class="glyphicon glyphicon-ok-sign"> Responder</i>
	        </a>
			<a class="btn btn-primary" data-ng-click="sendMessage(message.userReceiver.id)" data-ng-show="global.user.id == message.userSender.id">
	            <i class="glyphicon glyphicon-ok-sign"> Enviar otro mensaje</i>
	        </a>
	    </div>
	</div>
</section>