<section data-ng-controller="VotesController">
    <div class="page-header">
        <h1>New Vote</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-init="preCreate()" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="artist">Artist</label>
                    <div class="controls">
                        <select data-ng-model="artist" id="artist" class="form-control" data-ng-options="artist.artisticName for artist in artists">
                        </select>
                    </div>

                    <label class="control-label" for="province">Province</label>
                    <div class="controls">
                        <select data-ng-model="province" id="province" class="form-control" data-ng-options="province.name for province in provinces" data-ng-init="province = provinces[0]" ng-change="loadCitiesByProvince(province.id)" required>
                        </select>
                    </div>


                    <label class="control-label" for="city">City</label>
                    <div class="controls">
                        <select data-ng-model="city" id="city" class="form-control" data-ng-options="city.name for city in cities"  required>
                        </select>
                    </div>

                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>