<section data-ng-controller="VotesController" data-ng-init="getVotesByArtists()">
    <div class="page-header">
        <h1>Votes</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="vote in votesByArtists | orderBy:vote.artist" class="list-group-item">
			<li>Amount: {{vote.amount}}</li>
            <li>Artist: {{vote.artist}}</li>
            <li>Province: {{vote.province}}</li>
            <li>City: {{vote.city}}</li>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!votes.$resolved || votes.length">
    	No Votes yet
    </div>
</section>