<section data-ng-controller="VotesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="vote.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user.id == vote.user.id">
		<a class="btn btn-primary" href="/#!/votes/{{vote.id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="vote.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="vote.user.displayName"></span>
		</em>
	</small>
</section>