<section data-ng-controller="ProvincesController">
    <div class="page-header">
        <h1>New Province</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" role="form" data-ng-submit="create()">
            <fieldset>
                <div class="form-group">
                    <label mean-token="'create-name'" class="col-md-3 control-label">Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" data-ng-model="name" id="name" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
