<section data-ng-controller="ProvincesController" data-ng-init="findOne()">
    <form class="form-horizontal col-md-6" role="form" data-ng-submit="update()">
        <div class="form-group">
            <label mean-token="'edit-title'" for="title" class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="province.name" id="name" placeholder="Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button mean-token="'edit-submit'" type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</section>
