<section data-ng-controller="ProvincesController" data-ng-init="find()">

	<input type="text" data-ng-model="query">

    <ul class="provinces">
        <li data-ng-repeat="province in provinces | filter:query">
            <h2><a data-ng-href="#!/provinces/{{province.id}}">{{province.name}}</a></h2>
        </li>
    </ul>

    <h1 data-ng-hide="!provinces || provinces.length">No provinces yet. <br> Why don't you <a href="/#!/provinces/create">Create One</a>?</h1>
</section>