<section data-ng-controller="ProvincesController" data-ng-init="findOne()">
    <h2>{{province.name}}</h2>
    <div>
        <a class="btn" href="/#!/provinces/{{province.id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
        <a class="btn" data-ng-click="addCity();">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </div>
</section>
