<section data-ng-controller="PromosController">
    <div class="page-header">
        <h1>New Promo</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="discount">Descuento</label>
                    <div class="controls">
                        <input type="text" data-ng-model="discount" id="discount" class="form-control" placeholder="Descuento" required>
                    </div>
                    <label class="control-label" for="description">Descripcion</label>
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Descripcion" required>
                    </div>
                    <label class="control-label" for="price">Precio</label>
                    <div class="controls">
                        <input type="text" data-ng-model="price" id="price" class="form-control" placeholder="Precio" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>