<section data-ng-controller="PromosController" data-ng-init="findByEvent()">
    <div class="page-header">
        <h1>Promos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="promo in promos" data-ng-href="#!/promos/{{promo.id}}" class="list-group-item">
			<small class="list-group-item-text">
			<h4 class="list-group-item-heading" data-ng-bind="promo.discount"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="promo.description"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="promo.price"></h4>
            </small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!promos.$resolved || promos.length">
    	No Promos yet, why don't you <a href="/#!/promos/create">create one</a>?
    </div>
</section>