<section data-ng-controller="PromosController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="promo.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user.id == promo.user.id">
		<section data-ng-controller="TicketsController">
			<a class="btn btn-primary" data-ng-click="create(promo.price, promo.description, promo.event)">
				<i class="glyphicon glyphicon-edit"> Create Ticket</i>
			</a>		
		</section>
		<br>
		<a class="btn btn-primary" href="/#!/promos/{{promo.id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			<h4 class="list-group-item-heading" data-ng-bind="promo.discount"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="promo.description"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="promo.price"></h4>
		</em>
	</small>
</section>