<section data-ng-controller="ColaborationsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Colaborations</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="colaboration in colaborations" data-ng-href="#!/colaborations/{{colaboration.id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="colaboration.created | date:'medium'"></span>
				by
				<span data-ng-bind="colaboration.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="colaboration.mount"></h4>
        </a>
    </div>

    <div class="alert alert-warning text-center" data-ng-hide="!colaborations.$resolved || colaborations.length">
    	No Colaborations yet!
    </div>
</section>