<section data-ng-controller="ColaborationsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Colaboration</h1>
	</div>
	<div>
		<h4 class="list-group-item-heading" data-ng-bind="colaboration.mount"></h4>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == colaboration.user._id">
		<a class="btn btn-primary" href="/#!/colaborations/{{colaboration.id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>

		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<br>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="colaboration.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="colaboration.user.displayName"></span>
		</em>
	</small>
</section>