<section data-ng-controller="CitiesController">
    <form class="form-horizontal col-md-6" role="form" data-ng-submit="create()">
        <div class="form-group">
            <label mean-token="'create-name'" class="col-md-3 control-label">Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" data-ng-model="name" id="title" placeholder="Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </div>
    </form>
</section>