<section data-ng-controller="CitiesController" data-ng-init="findOne()">
    <form class="form-horizontal col-md-6" role="form" data-ng-submit="update()">
        <div class="form-group">
            <label mean-token="'edit-title'" for="title" class="col-md-2 control-label">Title</label>
            <div class="col-md-10">
                <input type="text" class="form-control" data-ng-model="city.title" id="title" placeholder="Title" required>
            </div>
        </div>
        <div class="form-group">
            <label mean-token="'edit-content'" for="content" class="col-md-2 control-label">Content</label>
            <div class="col-md-10">
                <textarea data-ng-model="city.content" id="content" cols="30" rows="10" placeholder="Content" class="form-control" required></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button mean-token="'edit-submit'" type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</section>
