<section data-ng-controller="CitiesController" data-ng-init="findByProvince()">
    <ul class="cities unstyled">
        <li data-ng-repeat="city in cities">
            <h2><a data-ng-href="#!/cities/{{city.id}}">{{city.name}}</a></h2>
        </li>
    </ul>
    <h1 data-ng-hide="!cities || cities.length">No cities yet. <br> Why don't you <a href="/#!/cities/create">Create One</a>?</h1>
</section>