<section data-ng-controller="CitiesController" data-ng-init="findOne()">
    <span>{{city.created | date:'medium'}}</span> /
    <span>{{city.user.name}}</span>
    <h2>{{city.title}}</h2>
    <div data-ng-show="global.user._id == city.user._id">
        <a class="btn" href="/#!/cities/{{city.id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div>{{city.content}}</div>
</section>
