<section data-ng-controller="EventsController" data-ng-init="byArtist()">
    <div class="page-header">
        <h1>Events</h1>
    </div>
    <br>
    <label><h4>Search Proposal</h4></label>
    <input type="text" data-ng-model="query">
    <br>
    <label><h4>Order By: </h4></label>
        <li><a href="" ng-click="predicate = 'state'; reverse=!reverse">State</a></li>
        <li><a href="" ng-click="predicate = 'dateInit'; reverse=!reverse">Date init</a></li>
        <li><a href="" ng-click="predicate = 'deadLine'; reverse=!reverse">Dead Line</a></li>
    <br>
    <div class="list-group">
        <a data-ng-repeat="event in eventsByArtist | filter:query | orderBy:predicate:reverse" data-ng-href="#!/events/{{event.id}}" class="list-group-item">
			<li>Id: {{event.id}}</li>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!events.$resolved || events.length">
    	No Events yet, why don't you <a href="/#!/events/create">create one</a>?
    </div>
</section>