<section data-ng-controller="EventsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Event</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="ticketsAvailablesQuantity">Cantidad de boletos disponibles</label>
                    <div class="controls">
                        <input type="text" data-ng-model="event.ticketsAvailablesQuantity" id="ticketsAvailablesQuantity" class="form-control" placeholder="Cantidad de boletos disponibles" required>
                    </div>

                    <label class="control-label" for="ticketsSoldsQuantity">Cantidad de entradas vendidas</label>
                    <div class="controls">
                        <input type="text" data-ng-model="event.ticketsSoldsQuantity" id="ticketsSoldsQuantity" class="form-control" placeholder="Cantidad de entradas vendidas" required>
                    </div>

                    <label class="control-label" for="ticketPrice">Precio de la entrada</label>
                    <div class="controls">
                        <input type="text" data-ng-model="event.ticketPrice" id="ticketPrice" class="form-control" placeholder="Precio de la entrada" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>