<section data-ng-controller="EventsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Events</h1>
    </div>
    <br>
    <label><h4>Search Event</h4></label>
    <input type="text" data-ng-model="query">
    <br>
    <label><h4>Order By: </h4></label>
        <li><a href="" ng-click="predicate = 'state'; reverse=!reverse">State</a></li>
        <li><a href="" ng-click="predicate = 'dateInit'; reverse=!reverse">Date init</a></li>
        <li><a href="" ng-click="predicate = 'deadLine'; reverse=!reverse">Dead Line</a></li>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Estado</th>
                <th>Artista</th>
                <th>Provincia</th>
                <th>Ciudad</th>
                <th>Lugar</th>
                <th>T/Venta</th>
                <th>T/Vendidos</th>
                <th>T/Precio</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            
            <tr data-ng-repeat="event in events | filter:query | orderBy:predicate:reverse">
                <td><t data-ng-bind="event.dateInit | date:'yyyy-MM-dd'"/></td>
                <td><t data-ng-bind="event.deadLine | date:'yyyy-MM-dd'"/></td>
                <td>{{event.state}}</td>
                <td data-ng-init="findUser(event.artist.id)">{{foundUser.artisticName}}</td>
                <td data-ng-init="findProvince(event.province.id)">{{foundProvince.name}}</td>
                <td data-ng-init="findCity(event.city.id)">{{foundCity.name}}</td>
                <td>{{event.showSiteName}}</td>
                <td>{{event.ticketsAvailablesQuantity}}</td>
                <td>{{event.ticketsSoldsQuantity}}</td>
                <td>{{event.ticketPrice}}</td>
                <!--  ACCIONES EN BOTONES :) --> 
                <td>
                    <button type="button" class="btn btn-default"><a data-ng-href="#!/events/{{event.id}}">Ver Evento</a></button>

                </td>
            </tr>
            
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-hide="!events.$resolved || events.length">
    	No Events yet, why don't you <a href="/#!/events/create">create one</a>?
    </div>
</section>