<section data-ng-controller="EventsController" data-ng-init="findOne()">
	<div class="page-header">
		<li>Estado: {{event.state}}</li>
		<li>Id: {{event.id}}</li>
        <li>Fecha: <t data-ng-bind="event.dateInit | date:'yyyy-MM-dd'"/></li>
        <li>Fecha Fin: <t data-ng-bind="event.deadLine | date:'yyyy-MM-dd'"/></li>
        
        <li data-ng-show="event.picture == null">Imágen No definida</li>
        <li data-ng-show="event.picture != null">{{event.picture}}</li>
        <li data-ng-show="event.colaborationsQuantity">Cantidad de Colaboraciones: {{event.colaborationsQuantity}}</li>
        <li data-ng>Nombre del sitio: {{event.showSiteName}}</li>
        <li data-ng>Dirección: {{event.showSiteAddres}}</li>
        <li data-ng-show="event.city.id == null">Ciudad No definida</li>
        <li data-ng-show="event.city.id != null">Ciudad: {{event.city.id}}</li>
        <li data-ng-show="event.province.id == null">Provincia No definida</li>
        <li data-ng-show="event.province.id != null">Provincia: {{event.province.id}}</li>
        <li data-ng="">Cantidad de boletos disponibles: {{event.ticketsAvailablesQuantity}}</li>
        <li data-ng="">Cantidad de entradas vendidas: {{event.ticketsSoldsQuantity}}</li>
        <li data-ng="">Precio de la entrada: {{event.ticketPrice}}</li>

	</div>
	<div class="pull-right" data-ng-show="authentication.user.id == event.user.id">
		<a class="btn btn-primary" data-ng-click="createPromo();">
			<i class="glyphicon glyphicon-edit"> Add Promo</i>
		</a>
		<a class="btn btn-primary" data-ng-click="viewPromo();">
			<i class="glyphicon glyphicon-edit"> View Promo</i>
		</a>
		<a class="btn btn-primary" data-ng-click="cancelEvent();">
			<i class="glyphicon glyphicon-remove"> Cancel Event</i>
		</a>
		<a data-ng-show="event.state == 'Cancelado'" class="btn btn-primary" data-ng-click="moneyBack()">
			<i class="glyphicon glyphicon-fire"> Retornar dinero</i>
		</a>
		<a class="btn btn-primary" href="/#!/events/{{event.id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="event.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="event.user.displayName"></span>
		</em>
	</small>
</section>